/* zerando as configurações */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Etilizando o parágrafo*/
.products p{
    margin: 0;
    text-align: center;
    padding: 10px;
    color: rgb(12, 134, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #6495ed;
    padding: 30px;
    background-color: #008b8b;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: #008b8b;
    color: #6495ed;
    padding: 15px;
    text-align: center;
}
.products{
    background-color: white;
    border: 1px solid #ddd;
    padding:20px;
    margin-bottom: 20px;
/* transformando em container */
    display: flex;
/* deixa o texto embaixo da imagem */
    flex-direction: column;
    
}
.products img{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

main#album{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
section.coluna{
    flex: 1 1 100%;
    padding: 0px 5px;
}